html, body {
	background-color: white;
	font-family: 'Abel', sans-serif;
}



#logo {
	width: 150px;
	height: 150px;
}	

#logo:hover {
	-webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}



#img {
	
	padding: 20px 20px;
	border-bottom: 1px solid gray;
}





/* media queries */

@media only screen and (max-width: 768px){

	#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}

	#name {
		text-align: center;
	}
	

}


/* helper classes to see divs, remove later */
.darkBG {
	background-color: #666699;
}

.darkerBG {
	background-color: #53537C;
}

.darkestBG {
	background-color: #424263;
}

.nav-tabs {

  border-color: #777777;
  color:#fff;
}

