html, body {
	background-color: white;
	font-family: 'Abel', sans-serif;
}





#logo {

	width: 150px;
	height: 150px;

}

#img {
	width: 300px;
	height:300px;
	padding: 20px 20px;
	
}




/* media queries */

@media only screen and (max-width: 768px){

	#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}

	#name {
		text-align: center;
	}
	

}


/* helper classes to see divs, remove later */
.darkBG {
	background-color: #666699;
}

.darkerBG {
	background-color: #53537C;
}

.darkestBG {
	background-color: #424263;
}

.nav-tabs {

  border-color: #777777;
  color:#fff;
}

