<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=edge">

    	<link href="css/main.css" rel="stylesheet" />

      <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    	

      <title>| BWJ |</title>

  </head>
  <body ng-app="mySite">

    <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-12 img-responsive">
            <img src="img/logo.jpg" id="logo">
          </div>
        
        <div class="container">
          <div class="col-md-8">
            <h1 class="text-right" id="name">Blake Johnson</h1><h3 class="text-right" id="name">| Web Developer |</h3>
          </div>
        </div>
      </div>
    
      <div class="container">
        <div class="main">

          <div class="container">
            <div class="row col-md-8 col-md-offset-4">
              <ul class="nav nav-tabs nav-justified" ng-init="tab = 2">


                <li role="presentation" ng-class="{ active: tab === 1 }">
                <a href="#" ng-click="tab = 1">Projects</a>
                </li>


                <li role="presentation"  ng-class="{ active: tab === 2 }">
                <a href="#2" ng-click="tab = 2">Lifestyle</a>
                </li>


                <li role="presentation" ng-class="{ active: tab === 3 }">
                <a href="#3" ng-click="tab = 3">Resume</a>
                </li>

              </ul>
            </div>
          </div>
       
           <div class="container" ng-controller="lifestyleController as lifestyle">

            <!-- A test to make sure Angular is loaded

            <p>{{ "hello " + "you" }}</p> 

            -->

            <div class="col-md-8 darkerBG" ng-show="tab === 2">
              <div ng-repeat="content in contents">
                
                <h1>{{ content.title }}</h1>
                <img id="img" class="img-responsive" ng-src="{{ content.icon }}">
               

              </div>  
            </div>  


          <!--This is where my portfolio pages will go.-->

          </div>
        </div>
      </div>
    </div>






    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Modules -->
   

    <!-- Controllers -->
    

    <!--Directives -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script src="app.js"></script>
  </body>
</html>


























